<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="k-header">
      <mat-card-title>Sales Summary</mat-card-title>
      <!-- <button
          (click)="showCreateModal()"
          mat-flat-button
          color="primary"
          class="m-r-8"
        >
          Add
        </button> -->
    </div>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <!-- Transaction Number -->
        <ng-container matColumnDef="transNum">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Transaction #
          </th>

          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600 text-capitalize"
                >{{ element.transNum | titlecase }}
              </span>
            </h6>
          </td>
        </ng-container>

        <!-- Customer Name -->
        <ng-container matColumnDef="customerName">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Customer Name
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.customerName }}
          </td>
        </ng-container>

        <!-- Total Amount -->
        <ng-container matColumnDef="totalAmount">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14 text-capitalize"
          >
            Total Amount
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            ₱{{ element.totalPrice | number : "1.0-0" }}
          </td>
        </ng-container>

        <!-- Transaction Date -->
        <ng-container matColumnDef="dateTime">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Transaction Date
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.dateTime | date : "medium" }}
          </td>
        </ng-container>

        <!-- Sold By -->
        <ng-container matColumnDef="soldBy">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Sold By
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.soldBy }}
          </td>
        </ng-container>

        <ng-container matColumnDef="productName">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            ITEM
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.productName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Qty
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.quantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="rate">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Rate
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            ₱{{ element.rate | number : "1.0-0" }}
          </td>
        </ng-container>

        <!-- Table Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        [length]="totalRecords"
        (page)="getSales($event)"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
