<mat-card class="cardWithShadow">
  <mat-card-header class="k-header">
    <mat-card-title>Cashier</mat-card-title>
    <button mat-flat-button class="" (click)="showDialog()" color="primary">
      Cart
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="flex-container">
      <div class="row">
        <ng-container *ngFor="let item of items">
          <div class="col-lg-4 col-sm-6 m-b-20">
            <mat-card
              class="b-1 shadow-none item-box"
              (click)="showControl(item, items)"
            >
              <mat-card-header class="prod-header">
                <mat-card-title>{{ item.name }}</mat-card-title>
                <span> PRICE: {{ item.price }}</span>
              </mat-card-header>
              <mat-card-content>
                <div class="item-control" *ngIf="item.showControl">
                  <div class="item-quantity">
                    <button class="btn-qty" (click)="addQuantity(item)">
                      +
                    </button>
                    <input
                      matInput
                      type="number"
                      placeholder="Quantity"
                      name="quantity"
                      [(ngModel)]="selectedProduct.quantity"
                    />
                    <button class="btn-qty" (click)="minusQuantity(item)">
                      -
                    </button>
                  </div>
                  <button
                    mat-flat-button
                    class="w-100 btn-add-to-cart"
                    color="warn"
                    (click)="addToCart(item)"
                  >
                    Add To Cart
                  </button>
                </div>

                <!-- <button
                    mat-flat-button
                    color="primary"
                    matTooltip="Info about the action"
                  >
                    Button
                  </button> -->
              </mat-card-content>
            </mat-card>
          </div>

          <!-- <button
              mat-flat-button
              [ngStyle]="{ height: '150px', width: '150px' }"
              color="primary"
              class="m-r-8 flex-item"
              (click)="addToCart(item)"
            ></button> -->
        </ng-container>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<app-view-sales-details></app-view-sales-details>

<!-- add to cart -->

<p-sidebar
  [(visible)]="sideBarVisible2"
  [appendTo]="'body'"
  position="right"
  styleClass="background-sidebar"
>
  <div class="flex-container">
    <ng-container *ngFor="let item of cartItem">
      <div class="row center">
        <mat-card class="cardWithShadow cart-item">
          <mat-card-header class="k-header">
            <mat-card-title>{{ item.productName }}</mat-card-title>

            <a class="trash-btn" (click)="removeItem(item.productId)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M2.75 6.167c0-.46.345-.834.771-.834h2.665c.529-.015.996-.378 1.176-.916l.03-.095l.115-.372c.07-.228.131-.427.217-.605c.338-.702.964-1.189 1.687-1.314c.184-.031.377-.031.6-.031h3.478c.223 0 .417 0 .6.031c.723.125 1.35.612 1.687 1.314c.086.178.147.377.217.605l.115.372l.03.095c.18.538.74.902 1.27.916h2.57c.427 0 .772.373.772.834S20.405 7 19.979 7H3.52c-.426 0-.771-.373-.771-.833M11.607 22h.787c2.707 0 4.06 0 4.941-.863c.88-.864.97-2.28 1.15-5.111l.26-4.081c.098-1.537.147-2.305-.295-2.792s-1.187-.487-2.679-.487H8.23c-1.491 0-2.237 0-2.679.487s-.392 1.255-.295 2.792l.26 4.08c.18 2.833.27 4.248 1.15 5.112S8.9 22 11.607 22"
                />
              </svg>
            </a>
          </mat-card-header>
          <mat-card-content class="d-flex">
            <span><strong>Quantity:</strong> {{ item.quantity }}</span>
            <span
              ><strong>Price:</strong> {{ item.productPrice | currency }}</span
            >
            <mat-label class="f-w-600 m-b-8 d-block"
              >Actual selling price</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input
                matInput
                name="price"
                id="price"
                [(ngModel)]="item.actualSellingPrice"
                (ngModelChange)="actualSellingPriceHandler(item)"
                placeholder="Actual Selling Price"
                type="number"
              />
            </mat-form-field>
            <div class="atc-item-control">
              <div class="atc-item-quantity">
                <button
                  class="btn-qty"
                  (click)="cartQuantityHandler(item.productId, 1)"
                >
                  +
                </button>
                <button
                  class="btn-qty"
                  (click)="cartQuantityHandler(item.productId, -1)"
                >
                  -
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
    <button
      *ngIf="cartItem.length > 0"
      mat-flat-button
      color="primary"
      (click)="insertCustomer()"
    >
      Save Transaction
    </button>

    <mat-label *ngIf="cartItem.length <= 0" class="f-w-600 m-b-8 d-block"
      >Cart is empty</mat-label
    >
  </div>
</p-sidebar>

<p-dialog
  header="Customer Name"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [appendTo]="'body'"
  (onHide)="closeForm()"
>
  <p-autoComplete
    styleClass="w-100 dropdown-style"
    [(ngModel)]="customerName"
    [dropdown]="true"
    [suggestions]="customerNames"
    (completeMethod)="filterProduct($event)"
    [appendTo]="'body'"
    name="customerName"
    placeholder="Customer Name"
  />
  <!-- <mat-form-field appearance="outline" class="w-100" color="primary">
    
    <input
      matInput
      name="customerName"
      id="customerName"
      [(ngModel)]="customerName"
      placeholder="CustomerName"
      type="text"
    />
  </mat-form-field> -->
  <button
    *ngIf="cartItem.length > 0"
    mat-flat-button
    color="primary"
    (click)="saveTransaction()"
  >
    Save Transaction
  </button>
</p-dialog>
