<mat-card class="cardWithShadow">
  <div class="loading" *ngIf="loading">
    <!-- <p-progressSpinner ariaLabel="loading" /> -->
  </div>
  <mat-card-content *ngIf="!loading">
    <mat-card-title>Sales details</mat-card-title>
  

    <div class="col-lg-4 col-sm-6">
      <div class="sales-card">
        <div class="sales-header">
          <h3 class="s-header-title"> #T-2024-22-1-1</h3>
          <h3 class="s-header-title"> January 22, 2024 5PM</h3>
        </div>

        <div *ngIf="isMobile" class="sales-content mobile">
          <div class="sales-item">
            <h3>ICE BLOCK</h3>
            <p> <span>Quantity</span>: 5pcs</p>
            <p> <span>Rate</span>: ₱100</p>
            <p> <span>Amount</span>: ₱500</p>
            <hr>
          </div>
          
          <div class="sales-summary">
            <span>TOTAL: ₱500</span>
            <span>Discount: 0%</span>
          </div>
          
        </div>


        <div *ngIf="!isMobile" class="sales-content not-mobile">
          <table class="custom-table">
            <thead>
              <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="item">
                    ICE BLOCK
                  </span>
                  
                </td>
                <td>5pcs</td>
                <td>₱100</td>
                <td>₱500</td>
              </tr>
            </tbody>
          </table>
          <div class="sales-summary">
            <span>TOTAL: ₱500</span>
            <span>Discount: 0%</span>
          </div>
        </div>
      </div>
      <!-- <mat-card class="cardWithShadow">
        <mat-card-content>
          <mat-card-title class="sales-detail-header">
            ORDER:
          </mat-card-title>
          dawdaw
        </mat-card-content>
      </mat-card> -->
    </div>
    
    
    
  </mat-card-content>
</mat-card>
