
<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="flex-container">
      <div class="row">
        <ng-container *ngFor="let item of items">
          <div class="col-lg-4 col-sm-6">
            <mat-card class="b-1 shadow-none item-box" (click)="showControl(item, items)">
              <mat-card-header class="prod-header">
                <mat-card-title>{{ item.name }}</mat-card-title>
                <span> PRICE: {{ item.price }}</span>
              </mat-card-header>
              <mat-card-content>
                <div class="item-control"  *ngIf="item.showControl" >
                  <div class="item-quantity">
                    <button (click)="addQuantity(item)">+</button>
                    <input  matInput type="number" placeholder="Quantity" name="quantity" [(ngModel)]="selectedProduct.quantity"/>
                    <button (click)="minusQuantity(item)">-</button>
                  </div>
                  <button mat-flat-button class="w-100" color="warn" (click)="addToCart()"> Save</button>
                </div>
                
                <!-- <button
                  mat-flat-button
                  color="primary"
                  matTooltip="Info about the action"
                >
                  Button
                </button> -->
              </mat-card-content>
            </mat-card>
          </div>

          <!-- <button
            mat-flat-button
            [ngStyle]="{ height: '150px', width: '150px' }"
            color="primary"
            class="m-r-8 flex-item"
            (click)="addToCart(item)"
          ></button> -->
        </ng-container>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<!-- add to cart -->

<p-sidebar [(visible)]="sideBarVisible2" [appendTo]="'body'" position="right">
  <mat-card class="cardWithShadow">
    <mat-card-header>
      <mat-card-title>Order Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-container">
        <div class="row">
          <ng-container *ngFor="let item of cartItem">
            <div class="col-lg-4 col-sm-6">
            {{ item.productId }}
            {{ item.quantity }}
          </div>
          </ng-container>
        </div>
        
      </div>
    </mat-card-content>
  </mat-card>
</p-sidebar>

