<mat-card class="cardWithShadow">
  <div class="loading" *ngIf="loading">
    <!-- <p-progressSpinner ariaLabel="loading" /> -->
  </div>
  <mat-card-content class="row" *ngIf="!loading">
    <mat-card-title>Sales details</mat-card-title>

    <div class="flex-container">
      <div class="row">
        <div
          class="col-lg-4 col-sm-6 m-b-20"
          *ngFor="let item of dataSource.data; let i = index"
        >
          <div [id]="'printDiv-' + i">
            <div class="sales-card">
              <div class="sales-header">
                <div class="order-details">
                  <h3 class="s-header-title">{{ item.customerName }}</h3>
                  <h3 class="s-header-title">#{{ item.transNum }}</h3>
                  <h3 class="s-header-title">
                    {{ item.transDate | date : "MMM d, y, h:mm a" }}
                  </h3>
                </div>

                <button
                  mat-flat-button
                  color="muted"
                  class="m-r-8 no-print"
                  (click)="printDiv('printDiv-' + i)"
                >
                  <mat-icon style="margin: 0 auto">print</mat-icon>
                </button>
              </div>
              <!-- Print Button -->

              <div *ngIf="isMobile" class="sales-content mobile no-print">
                <ng-container *ngFor="let detail of item.viewSalesDetailDtos">
                  <div class="sales-item">
                    <h3>{{ detail.itemName }}</h3>
                    <p><span>Quantity</span>: {{ detail.quantity }}</p>
                    <p><span>Rate</span>: ₱{{ detail.rate }}</p>
                    <p><span>Amount</span>: ₱{{ detail.amount }}</p>
                    <hr />
                  </div>

                  <div class="sales-summary">
                    <span>TOTAL: ₱{{ item.totalAmount }}</span>
                    <!-- <span>Discount: 0%</span> -->
                  </div>
                </ng-container>
              </div>

              <div *ngIf="!isMobile" class="sales-content not-mobile">
                <table class="custom-table">
                  <thead>
                    <tr>
                      <th>Item</th>
                      <th>Quantity</th>
                      <th>Rate</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let detail of item.viewSalesDetailDtos">
                      <td>
                        <span class="item"> {{ detail.itemName }} </span>
                      </td>
                      <td>{{ detail.quantity }}</td>
                      <td>₱{{ detail.rate }}</td>
                      <td>₱{{ detail.amount }}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="sales-summary">
                  <div class="sold-by text-dark f-w-600 text-capitalize">
                    <span>Sold By: {{ item.soldBy }}</span>
                  </div>
                  <div class="costs">
                    <span>TOTAL: ₱{{ item.totalAmount }}</span>
                    <span>DISCOUNT: {{ item.discount }}%</span>
                    <span
                      >FINAL TOTAL AMOUNT: ₱{{ item.finalTotalAmount }}</span
                    >
                  </div>
                  <!-- <span>Discount: 0%</span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        [length]="totalRecords"
        (page)="viewSales($event)"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
