<p-dialog
  header="Create Storage Location"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [appendTo]="'body'"
  (onHide)="close()"
>
  <div class="sm:container sm:mt-5">
    <form [formGroup]="createStorageLoc" *ngIf="visible" (ngSubmit)="save()">
      <div class="row">
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Name</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input
              matInput
              name="name"
              id="name"
              formControlName="name"
              placeholder="Name"
            />
            <mat-error
              *ngIf="
                createStorageLoc.get('name')?.hasError('required') &&
                createStorageLoc.get('name')?.touched
              "
            >
              Name is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Description</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input
              matInput
              name="description"
              id="description"
              formControlName="description"
              placeholder="Description"
            />
            <mat-error
              *ngIf="
                createStorageLoc.get('description')?.hasError('required') &&
                createStorageLoc.get('description')?.touched
              "
            >
              Description is required.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        class="m-t-4"
        [disabled]="!createStorageLoc.valid"
      >
        Submit
      </button>
    </form>
  </div>
</p-dialog>
