/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-autocomplete-dropdown {
  border: 1px solid #d1d5db; // Match border color
  border-radius: 4px;
  background-color: #f9fafb; // Light background
  box-shadow: none;
  background-color: transparent;
}

.k-header {
  display: flex;
  justify-content: space-between;
}

.p-sidebar {
  // $body-bg
  background: #f4f7fb;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
